
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* ------------- main container ------------- */

.main-cointainer{
  width: 1000px;
  background-color: red;
  display: flex;
  justify-content: space-around;
}

/* ------------- menu ------------- */


#menu{
  background-color: white ;
  display: inline-flex;
  justify-content: space-around;
  width: 700px;
  height: 100px;
  margin-top: 15px;
  margin-left: 60px;
  margin-bottom: 10px;
}

.sucursal{
  margin-top: 10px;
  text-align: center;
  font-size: x-large;
  margin-right: 100px;
}



.logo{
width: 120px;

}

/* ------------- header ------------- */


.bar-conteiner{
  display: flex;
  justify-content: space-around;
  text-align: center;
  justify-items: center;
 line-height: 30px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size:medium;
  width: 700px;
  height: 60px;
  padding: 10px;
  text-decoration: none;
  color: rgb(11, 11, 99);

 
}
 
a{
  text-decoration: none;
  color: rgb(14, 14, 72);
}

a:hover{
  color: red;
}

.donde{
  border: #5d6063 solid 2px;
  border-radius: 10px;
  height: 40px;
  width: 200px;
 
}
.contacto1{
  border: #5d6063 solid 2px;
  border-radius: 10px;
  height: 40px;
  width: 200px;
}

.producto{
  border: #5d6063 solid 2px;
  border-radius: 10px;
  height: 40px;
  width: 200px;
}

.header{
 
  background-color: rgb(196, 155, 155);
  text-align: center;
  width: 700px;

  margin-left: 60px;
  margin-bottom: 12px;
  line-height: 90px;
  
}





/*#contacto{
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
}

#producto2{
  text-align: center;
  padding-right: 25px;
  padding-top: 16px;
}

#donde{
  text-align: center;
  
}

/* ------------- se deja espacio cuando ambas clases que traigo no estan en el mismo nivel ------------- */
/* ------------- el que va a la izquiera es el mas grande, o sea es el que contiene al de la der ------------- */

/* ------------- si llamara 2 clases que estan en mismo nivel no se deja espacio ------------- */






  
  
  

  



/* ------------- SECCION PPAL ------------- */



.ubicacion{
  display: inline-block;
  background-color: white;
  width: 700px;
  margin-left: 60px;
}
 .ubicacion .ubicacionh2{
  margin: 20px;
  
 }

 .ubicacion .mapa{
  height: 200px;
  width: 200px;
  margin-left: 250px;
  border: #5d6063 solid 3px;
  

 }

 .ubicacion .mapa1 .french{
  font-size:x-large;
  margin-left: 20px;
  margin-top: 10ox;
  text-align: center;
 }
 
 .material-symbols-outlined{
  margin-top: 20px;
  margin-left: 40px;
  display:inline-flex
  

 }
 

 .mapa1{
  float: right;
 }
/* ------------- contacto------------- */

.contacto{
  display: flex;
  justify-content:flex-start;
  background-color: white;
  margin-left: 60px;
  margin-top: 10px;
  width: 700px;
  padding: 20px;
}

.contacto .escribinos{
  margin-right: 40px;
}

/* ------------- CAJA 1 2 Y 3 ------------- */

.caja-ppal{
  margin-top: 20px;
  background-color: red;
  display: flex;
  justify-content: space-between;
 
  align-content: center;
  align-items:flex-start;
  width: 800px;
}

.caja1{
  background-color: white;
  height: 100%;
 margin-left: 20px;
 
  padding: 10xp;
  text-align: center;
  padding-top: 20px;
  flex: 1;
}

.caja1 .img1{
  padding: 5px;
  
  border-radius: 40px;
}

.caja1 ul{
  list-style: none;
}

.caja2{
  background-color: white;
 
  height: 100%;
  text-align: center;
  padding-top: 20px;
  margin-left: 10px;

  margin-right: 10px;
  flex: 1;
}

.caja2 .img2{
  padding: 5px;
  border-radius: 40px;
}

.caja2 ul{
  list-style: none;
}

.caja3{
  background-color: white;
  height: 100%;
 
  text-align: center;
  padding-top: 20px;
  flex: 1;
}

.caja3 .img3{
  padding: 5px;
  border-radius: 40px;
}


/* ------------- CSS General ------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #5d6063;
  background-color:red;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

/* ------------- Encabezado Contacto ------------- */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  text-align: center;
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  width: 80%;
  margin: 10px auto;
  padding: 50px;
}

.form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* ------------- Formulario ------------- */

.formulario {
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  width: 80%;
  padding: 50px;
  margin: 30px 0 40px 0;
}

/* ------------- Campos del Formulario ------------- */

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"] 
 {
  background-color: #bdbdbd;
  border: 0;
  border-radius: 6px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 3px;
  text-align: initial;
}

/* ------------- Para Pantallas de más de 700px ------------- */

  @media only screen and (min-width: 700px) {
  .form-header {
    padding: 50px;
  }

  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .form-row input[type="text"] {
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }
}

.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;


  background-color: #bdbdbd;
  border: 0;
  border-radius: 6px;


  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;


  width: 100%;
}
/* ------------- Para Pantallas de más de 700px ------------- */


.form-row textarea {
    width: 250px;
  }

  .form-row button {
      font-size: 16px;
      font-weight: bold;
    
    
      color: #ffffff;
      background-color: #5995da;
    
    
      border: none;
      border-radius: 3px;
    
    
      padding: 10px 40px;
      cursor: pointer;
    }
    
    
    .form-row button:hover {
      background-color: #76aeed;
    }
    
    
    .form-row button:active {
      background-color: #407fc7;
    }
    
    
    /* ------------- Para Pantallas de más de 700px ------------- */
    
    
    .form-row button {
        margin-left: 120px;}

.greeting{
  color: rgb(241, 171, 40);
  background-color: #5d6063;
}